server:
  host: "0.0.0.0"
  port: 8000
  reload: true
  log_level: "INFO"

database:
  driver: "postgresql"
  user: "postgres"
  password: "postgres"
  host: "localhost"
  port: 5432
  name: "produto_db"
  pool_size: 20
  max_overflow: 40

cors:
  allow_origins:
    - "http://localhost:3000"
    - "http://localhost:8080"
  allow_credentials: true
  allow_methods:
    - "GET"
    - "POST"
    - "PUT"
    - "DELETE"
    - "OPTIONS"
  allow_headers:
    - "*"
